@import url('../libraries/bootstrap/css/bootstrap.min.css');
@import url('../libraries/bootstrap/css/bootstrap-theme.min.css');

.width-100 {
  width: 100%;
}

.padding-top-25 {
  padding-top: 25px;
}

.float-right {
  float: right;
}

.height-140 {
  height: 140%;
}
